/* general styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f8f8f8;
}

#wrapper {

}
h2 {
    color: #333;
}

section {
    padding: 50px 20px;
}
/* Navigation */ 
header {
    background: #333;
    padding: 10px 0px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    margin: auto;
    padding: 0 20px;
}

div.logo img {
    width: 100px;
}

ul.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

ul.nav-links li {
    display: inline;
}

ul.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

ul.nav-links li a:hover {
    text-decoration: underline;
}

/* home */
#home {
    padding: 150px 20px;
}
#home .btn {
    background: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin-top: 10px;
}
#home .btn {
    background: #0056b3;
}

/* counciling */
#counciling {

}

.counciling-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.counciling-container .content-box {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.counciling-container .content-box img.box {
    width: 225px;
}

#table {

}

#table h2{
    color: #333;
    margin-top: 20px;
}

#table table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: left;
    background-color: #fff;
}

#table th, td {
    padding: 12px;
    border: 1px solid #ddd;
}

#table th {
    background-color: #f2f2f2; 
    color: #684b4b;
}

#table tr:nth-child(even){
    background-color: #f2f2f2;
}

#table tr:hover {
    background-color: #ddd;
}

/* contact */
#contact {

}

#contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: auto;
}

#contact form input, textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#contact form button {
    background: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

/* footer */
footer {
    background: #333;
    color: #fff;
    padding: 10px 0;
    margin-top: 20px;
}